.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.divHeader {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
}

.bio {
  text-align: center;
  color: rgb(75, 75, 75);
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  
}

.waveDetails {
  background: rgb(240, 240, 240);
  border-radius: 10px;
  margin-top: 16px;
  padding: 8px;
}
